
<article data-role="content">
<ul data-role="listview" data-theme="c">
  <li>
    <img src="assets/nn.jpg" class="ui-li-thumb">
    <h3 class="ui-li-heading">Kim Taeyeon Hwang</h3>
    <p class="ui-li-desc">Ingeniería de Sistemas</p>
    <p class="ui-li-desc">Ciclo relativo : 9to</p>
    <p>Reporte de notas :
      <a href="/assets/20070805B.pdf"  data-ajax="false">pdf</a>
      <!--| <a href="/users/20072531G.csv"  data-ajax="false">CSV</a> -->
      | <a href="/assets/20070805B.xls"  data-ajax="false">xls</a>
      <!--
      json: http://orce.herokuapp.com/users/tu_codigo_con_letra.json
      xml: http://orce.herokuapp.com/users/tu_codigo_con_letra.xml :view page source
      -->
    </p>
  </li>
</ul>
<br/>
<div data-role="collapsible" data-content-theme="a">
  <h3>Tecnologia de Fluidos y Calor XX333X</h3>
  <table>
    <tbody>
    <tr>
      <th>Tipo de Examen</th>
      <th>Nota</th>
      <th>Reclamo</th>
      <th>% Desap</th>
    </tr>

    <tr id="row-0">
      <td>PRACTICA 1</td>
      <td class="">19</td>
      <td>--</td>
      <td>32.26%</td>
    </tr>

    <tr id="row-1">
      <td>PRACTICA 2</td>
      <td class="">11</td>
      <td>--</td>
      <td>41.94%</td>
    </tr>

    <tr id="row-2">
      <td>PRACTICA 3</td>
      <td class="">NSP</td>
      <td>--</td>
      <td>35.48%</td>
    </tr>

    <tr id="row-3">
      <td>PRACTICA 4</td>
      <td class="red">06</td>
      <td>--</td>
      <td>29.03%</td>
    </tr>

    <tr id="row-4">
      <td>PROMEDIO NO OFICIAL DE PRACTICAS</td>
      <td class="">12</td>
      <td></td>
      <td></td>
    </tr>

    <tr id="row-x-0">
      <td>EXAMEN PARCIAL</td>
      <td class="">15</td>
      <td>--</td>
      <td>22.58%</td>
    </tr>

    <tr id="row-x-1">
      <td>EXAMEN FINAL</td>
      <td class="">15</td>
      <td>--</td>
      <td>22.58%</td>
    </tr>

    <tr id="row-x-2">
      <td>PROMEDIO NO OFICIAL FINAL DEL CURSO</td>
      <td class="">  14</td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
<div data-role="collapsible" data-content-theme="a">
  <h3>Calculo Recontravariable ST235U</h3>
  <table>
    <tbody>
    <tr>
      <th>Tipo de Examen</th>
      <th>Nota</th>
      <th>Reclamo</th>
      <th>% Desap</th>
    </tr>

    <tr id="row-0">
      <td>PRACTICA 1</td>
      <td class="">17</td>
      <td>--</td>
      <td>9.35%</td>
    </tr>

    <tr id="row-1">
      <td>PRACTICA 2</td>
      <td class="">19</td>
      <td>--</td>
      <td>5.81%</td>
    </tr>

    <tr id="row-2">
      <td>PRACTICA 3</td>
      <td class="">18</td>
      <td>--</td>
      <td>16.13%</td>
    </tr>

    <tr id="row-3">
      <td>PRACTICA 4</td>
      <td class="red">09</td>
      <td>--</td>
      <td>16.13%</td>
    </tr>

    <tr id="row-4">
      <td>PROMEDIO NO OFICIAL DE PRACTICAS</td>
      <td class=""> 18.0</td>
      <td></td>
      <td></td>
    </tr>

    <tr id="row-x-0">
      <td>EXAMEN PARCIAL</td>
      <td class="">13</td>
      <td>--</td>
      <td>35.48%</td>
    </tr>

    <tr id="row-x-1">
      <td>EXAMEN FINAL</td>
      <td class="">15</td>
      <td>--</td>
      <td>35.48%</td>
    </tr>

    <tr id="row-x-2">
      <td>EXAMEN SUSTITUTORIO</td>
      <td class="">NSP</td>
      <td>--</td>
      <td>12.9%</td>
    </tr>

    <tr id="row-x-3">
      <td>PROMEDIO NO OFICIAL FINAL DEL CURSO</td>
      <td class=""> 15.33</td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
<div data-role="collapsible" data-content-theme="a">
  <h3>Contabilidad SM III CB222V</h3>
  <table>
    <tbody>
    <tr>
      <th>Tipo de Examen</th>
      <th>Nota</th>
      <th>Reclamo</th>
      <th>% Desap</th>
    </tr>

    <tr id="row-x-0">
      <td>EXAMEN PARCIAL</td>
      <td class="">15</td>
      <td>--</td>
      <td>32.35%</td>
    </tr>

    <tr id="row-x-1">
      <td>EXAMEN FINAL</td>
      <td class="">11</td>
      <td>--</td>
      <td>35.29%</td>
    </tr>

    <tr id="row-x-2">
      <td>PROMEDIO NO OFICIAL FINAL DEL CURSO</td>
      <td class="">13</td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
<div data-role="collapsible" data-content-theme="a">
  <h3>Toma de Decisiones ST113U</h3>
  <table>
    <tbody>
    <tr>
      <th>Tipo de Examen</th>
      <th>Nota</th>
      <th>Reclamo</th>
      <th>% Desap</th>
    </tr>

    <tr id="row-0">
      <td>PRACTICA 1</td>
      <td class="">13</td>
      <td>--</td>
      <td>58.82%</td>
    </tr>

    <tr id="row-1">
      <td>PRACTICA 2</td>
      <td class="">NSP</td>
      <td>--</td>
      <td>50%</td>
    </tr>

    <tr id="row-2">
      <td>PRACTICA 3</td>
      <td class="red">06</td>
      <td>--</td>
      <td>35.29%</td>
    </tr>

    <tr id="row-3">
      <td>PRACTICA 4</td>
      <td class="red">09</td>
      <td>--</td>
      <td>44.12%</td>
    </tr>

    <tr id="row-4">
      <td>PROMEDIO NO OFICIAL DE PRACTICAS</td>
      <td class="red">  8</td>
      <td></td>
      <td></td>
    </tr>

    <tr id="row-x-0">
      <td>EXAMEN PARCIAL</td>
      <td class="red">8</td>
      <td>--</td>
      <td>61.76%</td>
    </tr>

    <tr id="row-x-1">
      <td>EXAMEN FINAL</td>
      <td class="">20</td>
      <td>--</td>
      <td>50%</td>
    </tr>

    <tr id="row-x-2">
      <td>PROMEDIO NO OFICIAL FINAL DEL CURSO</td>
      <td class="">  14.0</td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
<div data-role="collapsible" data-content-theme="a">
  <h3>Fisica IX CB333U</h3>
  <table>
    <tbody>
    <tr>
      <th>Tipo de Examen</th>
      <th>Nota</th>
      <th>Reclamo</th>
      <th>% Desap</th>
    </tr>

    <tr id="row-0">
      <td>PRACTICA 1</td>
      <td class="red">09</td>
      <td>--</td>
      <td>32.26%</td>
    </tr>

    <tr id="row-1">
      <td>PRACTICA 2</td>
      <td class="red">07</td>
      <td>--</td>
      <td>41.94%</td>
    </tr>

    <tr id="row-2">
      <td>PRACTICA 3</td>
      <td class="">NSP</td>
      <td>--</td>
      <td>35.48%</td>
    </tr>

    <tr id="row-3">
      <td>PRACTICA 4</td>
      <td class="red">06</td>
      <td>--</td>
      <td>29.03%</td>
    </tr>

    <tr id="row-4">
      <td>LABORATORIO 1</td>
      <td class="">14</td>
      <td>--</td>
      <td>0%</td>
    </tr>

    <tr id="row-5">
      <td>LABORATORIO 2</td>
      <td class="">12</td>
      <td>--</td>
      <td>0%</td>
    </tr>

    <tr id="row-6">
      <td>LABORATORIO 3</td>
      <td class="red">08</td>
      <td>--</td>
      <td>48.39%</td>
    </tr>

    <tr id="row-7">
      <td>LABORATORIO 4</td>
      <td class="red">07</td>
      <td>--</td>
      <td>48.39%</td>
    </tr>

    <tr id="row-8">
      <td>PROMEDIO NO OFICIAL DE PRACTICAS</td>
      <td class="red">  9.3</td>
      <td></td>
      <td></td>
    </tr>

    <tr id="row-x-0">
      <td>EXAMEN PARCIAL</td>
      <td class="">10</td>
      <td>--</td>
      <td>22.58%</td>
    </tr>

    <tr id="row-x-1">
      <td>EXAMEN FINAL</td>
      <td class="red">04</td>
      <td>--</td>
      <td>22.58%</td>
    </tr>

    <tr id="row-x-2">
      <td>PROMEDIO NO OFICIAL FINAL DEL CURSO</td>
      <td class="red">  7.7</td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
<div data-role="collapsible" data-content-theme="a">
  <h3>Mejora Continua GG333V</h3>
  <table>
    <tbody>
    <tr>
      <th>Tipo de Examen</th>
      <th>Nota</th>
      <th>Reclamo</th>
      <th>% Desap</th>
    </tr>

    <tr id="row-0">
      <td>PRACTICA 1</td>
      <td class="">NSP</td>
      <td>--</td>
      <td>23.53%</td>
    </tr>

    <tr id="row-1">
      <td>PRACTICA 2</td>
      <td class="red">09</td>
      <td>--</td>
      <td>32.35%</td>
    </tr>

    <tr id="row-2">
      <td>PRACTICA 3</td>
      <td class="">11</td>
      <td>--</td>
      <td>11.76%</td>
    </tr>

    <tr id="row-3">
      <td>PRACTICA 4</td>
      <td class="">11</td>
      <td>--</td>
      <td>38.24%</td>
    </tr>

    <tr id="row-4">
      <td>PROMEDIO NO OFICIAL DE PRACTICAS</td>
      <td class=""> 10.3</td>
      <td></td>
      <td></td>
    </tr>

    <tr id="row-x-0">
      <td>EXAMEN PARCIAL</td>
      <td class="red">08</td>
      <td>--</td>
      <td>32.35%</td>
    </tr>

    <tr id="row-x-1">
      <td>EXAMEN FINAL</td>
      <td class="">12</td>
      <td>--</td>
      <td>35.29%</td>
    </tr>
    </tbody>
  </table>
</div>
<div data-role="collapsible" data-content-theme="a">
  <h3>Gestion de Recursos Humanos BB403U</h3>
  <table>
    <tbody>
    <tr>
      <th>Tipo de Examen</th>
      <th>Nota</th>
      <th>Reclamo</th>
      <th>% Desap</th>
    </tr>

    <tr id="row-0">
      <td>PRACTICA 1</td>
      <td class="">13</td>
      <td>--</td>
      <td>58.82%</td>
    </tr>

    <tr id="row-1">
      <td>PRACTICA 2</td>
      <td class="">NSP</td>
      <td>--</td>
      <td>50%</td>
    </tr>

    <tr id="row-2">
      <td>PRACTICA 3</td>
      <td class="red">06</td>
      <td>--</td>
      <td>35.29%</td>
    </tr>

    <tr id="row-3">
      <td>PRACTICA 4</td>
      <td class="red">09</td>
      <td>--</td>
      <td>44.12%</td>
    </tr>

    <tr id="row-4">
      <td>PROMEDIO NO OFICIAL DE PRACTICAS</td>
      <td class="red">  9.3</td>
      <td></td>
      <td></td>
    </tr>

    <tr id="row-x-0">
      <td>EXAMEN PARCIAL</td>
      <td class="red">03</td>
      <td>--</td>
      <td>61.76%</td>
    </tr>

    <tr id="row-x-1">
      <td>EXAMEN FINAL</td>
      <td class="">10</td>
      <td>--</td>
      <td>50%</td>
    </tr>

    <tr id="row-x-2">
      <td>PROMEDIO NO OFICIAL FINAL DEL CURSO</td>
      <td class="red">  8.0</td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
<div data-role="collapsible" data-content-theme="a">
  <h3>Realidad Nacional e Internacional AB213U</h3>
  <table>
    <tbody>
    <tr>
      <th>Tipo de Examen</th>
      <th>Nota</th>
      <th>Reclamo</th>
      <th>% Desap</th>
    </tr>

    <tr id="row-0">
      <td>PRACTICA 1</td>
      <td class="red">09</td>
      <td>--</td>
      <td>32.26%</td>
    </tr>

    <tr id="row-1">
      <td>PRACTICA 2</td>
      <td class="">17</td>
      <td>--</td>
      <td>41.94%</td>
    </tr>

    <tr id="row-2">
      <td>PRACTICA 3</td>
      <td class="">NSP</td>
      <td>--</td>
      <td>35.48%</td>
    </tr>

    <tr id="row-3">
      <td>PRACTICA 4</td>
      <td class="">13</td>
      <td>--</td>
      <td>29.03%</td>
    </tr>

    <tr id="row-4">
      <td>PROMEDIO NO OFICIAL DE PRACTICAS</td>
      <td class="">13</td>
      <td></td>
      <td></td>
    </tr>

    <tr id="row-x-0">
      <td>EXAMEN PARCIAL</td>
      <td class="">10</td>
      <td>--</td>
      <td>22.58%</td>
    </tr>

    <tr id="row-x-1">
      <td>EXAMEN FINAL</td>
      <td class="red">7</td>
      <td>--</td>
      <td>22.58%</td>
    </tr>

    <tr id="row-x-2">
      <td>PROMEDIO NO OFICIAL FINAL DEL CURSO</td>
      <td class="">10</td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>

</article>

