<fieldset class="ui-grid-a">
  <div class="ui-block-a" id='imgr'><image src="/assets/aw.jpg" width="auto" height="64"/><image src="/assets/ib.jpg" width="auto" height="64"/></div>
  <div class="ui-block-b"><p id='descr'><em>Step</em> es una aplicacion para visualizar informacion de la <em>Orce</em><br> de una manera mas practica por movil</p>
  </div>
  <div class="ui-block-a"><p id='descl'>Si lo prefieres <em><a href="/sample">&lt;prueba&gt;</a></em> la app con un bot <br> antes de iniciar sesion</p></div>
  <div class="ui-block-b" id='imgl'><a href="/sample"><image src="/assets/try.png" width="85" height="100"/></a></div>
  <div class="ui-block-a"></div>
  <div class="ui-block-b"><p id='descr'><em>beta</em> <em><a href="/data/19610007J">&lt;informacion publica&gt;</a></em></div>
</fieldset>

<footer data-role="navbar">
  <ul>
    <li><%= link_to 'Log in', '/login', 'data-role' => 'button', 'data-icon' => 'plus', 'data-theme' => 'b' %></li>
  </ul>
</footer>