<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=250953895009540";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- 
<h3>Si te gusto esta app o tienes una idea de como mejorarla hazmelo saber en los comentarios.</h3>
 -->
<fieldset class="ui-grid-a">
  <div class="ui-block-a" id='imgr'><image src="/assets/aw.jpg" width="auto" height="64"/><image src="/assets/ib.jpg" width="auto" height="64"/></div>
  <div class="ui-block-b"><p id='descr'><em>Step</em> es una aplicacion para visualizar informacion de la <em>Orce</em><br> de una manera mas practica por movil</p>
  </div>
  <div class="ui-block-a"><p id='descl'>Si lo prefieres <em><a href="/sample">prueba</a></em> la app con un bot <br> antes de iniciar sesion</p></div>
  <div class="ui-block-b" id='imgl'><a href="/sample"><image src="/assets/try.png" width="85" height="100"/></a></div>
</fieldset>

<div data-role="collapsible" data-content-theme="c" data-mini="true" >
	<h1>Si te gusto, comparte</h1>

  <div class="fb-like" data-href="http://apps.facebook.com/steporce" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>



  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://orce.herokuapp.com/" data-text="Entra a Orce por el Facebook" data-lang="es" data-hashtags="steporce">Twittear</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	<p>Repositorio de la app en <a href="https://github.com/cxrlospxndo/step" target="_blank">github</a>.</p>
</div>

<footer data-role="navbar">
	<ul>
	<% if current_user %>
        <li><%= link_to 'Salir', signout_path, confirm: "Quieres cerrar tu session?", method: :delete, 'data-role' => 'button', 'data-icon' => "delete", 'data-theme' => 'b' %></li>
	    <li><%= link_to 'Mis notas', current_user, 'data-role' => 'button', 'data-icon' => 'star', 'data-theme' => 'b' %></li>
	<% else %>
	    <li><%= link_to 'Log in', '/login', 'data-role' => 'button', 'data-icon' => 'plus', 'data-theme' => 'b' %></li>
	<% end %>
	</ul>
</footer>	