<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=250953895009540";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- 
<h3>Si te gusto esta app o tienes una idea de como mejorarla hazmelo saber en los comentarios.</h3>
 -->
<div data-role="collapsible" data-content-theme="c" data-mini="true" >
	<h1>Si te gusta, comparte</h1>

  <div class="fb-like" data-href="http://apps.facebook.com/steporce" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>



  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://orce.herokuapp.com/" data-text="Entra a Orce por el Facebook" data-lang="es" data-hashtags="steporce">Twittear</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	<p>Repositorio de la app en <a href="https://github.com/cxrlospxndo/step" target="_blank">github</a>.</p>
</div>

<!-- <div class="fb-comments" data-href="http://apps.facebook.com/steporce" data-num-posts="5" data-width="470"></div> -->


<div id="disqus_thread"></div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'steporce'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


<footer data-role="navbar">
	<ul>
	<% if current_user %>
	    <li><%= link_to 'Mis notas', current_user, 'data-role' => 'button', 'data-icon' => 'star', 'data-theme' => 'b' %></li>
	<% else %>
	    <li><%= link_to 'Log in', new_user_path, 'data-role' => 'button', 'data-icon' => 'plus', 'data-theme' => 'b' %></li>
	<% end %>
	</ul>
</footer>	