<h1>New user</h1>

<%= render 'form' %>

<div data-role="navbar">
	<ul>
		<li><%= link_to 'Back', users_path, 'data-role' => 'button', 'data-icon' => 'arrow-l', 'data-theme' => 'b' %></li>
	</ul>
</div>
