/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
#flash_notice{
	background-color: #EE2A46;
	color: white;
	text-align: center;
}

a {
  color: #01151C;
  text-decoration:none;
}

table th {
	background-color: #387bbe;	
	font-family: Helvetica, Verdana, sans-serif, Arial;
	font-weight: bold;
	font-size: 0.9em;
	color: white;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
}
table td {
	font-family: Helvetica, Verdana, sans-serif, Arial;
	font-weight: normal;
	font-size: .9em;
	color: #404040;
	background-color: #B9B9B9;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
}